nav{
    padding: 1rem;
    position: fixed;
    top: 0;
    z-index: 199;
    background: #222831;
    width: 100%;
    display: inline;
}

.buscar > img{
    width: 1vw;
    height: 1.5vh;
}

.inicio{
    float: left;
}

.inicio > img{
    width: 1vw;
    height: 2.5vh;
}